
useDynLib(KernSmoothIRT)


export(ksIRT, itemcor, subjscore, subjthetaML, subjscoreML, subjOCC, print.ksIRT, plot.ksIRT, subjEIS, subjETS, PCA, subjOCCDIF, subjEISDIF, subjETSDIF)


S3method(plot, ksIRT)
S3method(print, ksIRT)





